
.preso-header{
  position:relative;
  z-index: 2;
  padding:8px;
  background-color: #fff;
}

.preso-header img{
  padding:8px;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal .image-attribution{
  position: fixed;
  bottom: 0px;
  font-size:10px;
  margin:6px;
  text-align: right;
  padding:8px;
  background: rgba(255, 255, 255, 0.6)
}

.reveal ul.nostyle{
  list-style:none;
}

.reveal ul.nostyle li{
  margin-bottom:20px;
}

.reveal ul.nostyle li a{
  color:#ff0066;
  padding:8px;
  background: rgba(0, 0, 0, 0.6)
}

.highlight{
  color:#fff;
  padding:8px;
  /*background: rgba(0, 0, 0, 0.6)*/
}
